Wesley Schwengle <waterkip@cpan.org>  <gitlab@opperschaap.net>
Wesley Schwengle <waterkip@cpan.org>  <wesley@opperschaap.net>
Wesley Schwengle <waterkip@cpan.org>  <wesley@schwengle.net>
Wesley Schwengle <waterkip@cpan.org>  <wesleys@euronet.nl>
Wesley Schwengle <waterkip@cpan.org>  <wesley@opndev.io>
Wesley Schwengle <waterkip@cpan.org>  <waterkip@cpan.org>
